html {
  height: 100vh;
  background-color: hsl(219deg, 30%, 18%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

main {
  color: white;
  font-family: "Open Sans", sans-serif;
}
main .main__info {
  margin-bottom: 13rem;
  position: relative;
  margin-top: 4rem;
  text-align: center;
}
main .main__info h1 {
  font-size: 2.3rem;
}
main .main__info p {
  line-height: 2.2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
main .main__info .main__button {
  color: white;
  border: none;
  background-color: hsl(176deg, 68%, 64%);
  padding: 1rem 5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
}
main .main__info svg {
  position: absolute;
  top: 230px;
  left: 0;
  transform: scale(1.63);
  z-index: -1;
}
main .main__image {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}
.grid-elements .grid__element {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.grid-elements .grid__element svg {
  margin-bottom: 1rem;
}
.grid-elements .grid__element h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
}
.grid-elements .grid__element p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mid-content {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5rem;
}
.mid-content img {
  width: 90%;
  margin-right: 4rem auto;
}
.mid-content .mid-content__text {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mid-content .mid-content__text h2 {
  font-size: 2rem;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.mid-content .mid-content__text p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}
.mid-content .mid-content__text a {
  text-decoration: none;
  color: hsl(176deg, 68%, 64%);
  font-family: "Raleway", sans-serif;
}

.quotes-img .testimonials__card__quote {
  position: relative;
  z-index: -1;
  top: 9rem;
  left: 17.3rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 8rem;
  gap: 2rem;
}
.testimonials .testimonials__card {
  background-color: #263344;
  padding: 3rem 2rem;
  color: white;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.testimonials .testimonials__card p {
  text-align: left;
  margin-bottom: 1.5rem;
}
.testimonials .testimonials__card .testimonials-card__profile {
  display: flex;
  gap: 0.7rem;
}
.testimonials .testimonials__card .testimonials-card__profile img {
  width: 40px;
  border-radius: 50%;
}
.testimonials .testimonials__card .testimonials-card__profile .profile-info {
  display: flex;
  flex-direction: column;
}
.testimonials .testimonials__card .testimonials-card__profile .profile-info .name {
  margin-bottom: 0.3rem;
}
.testimonials .testimonials__card .testimonials-card__profile .profile-info .role {
  font-size: 0.8rem;
}

#footer {
  margin-top: 10rem;
  background-color: hsl(217deg, 28%, 15%);
  padding: 2rem;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: 35% 20% 20% 20% 20%;
}
#footer .footer-grid {
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
#footer .footer-grid a {
  text-decoration: none;
  color: white;
}
#footer .footer-grid__number span {
  color: white;
}
#footer .footer-grid__mail span {
  color: white;
}
#footer .footer-grid__location {
  color: white;
}
#footer .footer-grid__location img {
  margin-bottom: 2rem;
}
#footer .footer-grid__location .location-text {
  display: flex;
  gap: 1rem;
}
#footer .footer-grid__location .location-text img {
  width: 5%;
  height: 5%;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

#navbar {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: white;
  justify-content: space-between;
}
#navbar .navbar__logo {
  font-weight: 700;
  transform: scale(0.8);
}
#navbar .navbar__buttons {
  display: flex;
  gap: 2.5rem;
}
#navbar .navbar__buttons a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
}/*# sourceMappingURL=styles.css.map */